header {
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.5326724439775911) 0%,
			rgba(45, 45, 45, 0.16292454481792717) 100%
		),
		url("https://via.placeholder.com/1280x720");
	background-size: cover;
	background-position: center;
	height: 70vh;
	display: flex;
	align-items: flex-end;
}
.beers .swiper-pagination-bullet-active {
	background-color: var(--body-text);
}

.beers .swiper-pagination-bullet {
	background-color: var(--body-text);
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.beer-name {
	font-size: 1.3rem;
	margin-bottom: var(--spacing-1);
}
.type {
	font-size: 1rem;
	margin-bottom: var(--spacing-2);
}
.line-title.short {
	width: 120%;
}
.line-title.tall .beer-info {
	width: 150%;
}
.beer-info:last-child {
	margin-bottom: var(--spacing-2);
}
.line-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.line-title.short {
	justify-content: flex-start;
}
.line-container {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 100%
	);
	margin-top: -65px;
}
#taps-line img {
	width: 100%;
	height: 100%;
}
#taps-line .line {
	background-color: var(--primary-white);
	height: 60px;
	width: 2px;
}

#taps-line .line.tall {
	height: 120px;
	width: 2px;
}
